apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: subscription-api
spec:
  selector:
    app: subscription-api
  type: NodePort
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30080

