apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: subscription-api
spec:
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP

